#bootingScreen{position: absolute; left: 0%; top: 0%; width: 100%; height: 100%;}

#windowsTenLogo div{position: absolute; width: 5%; height: 8%; background-color: blue; transform: rotate(10deg);}
#windowsTenLogoTopLeft{left: 47%; top: 20%;}
#windowsTenLogoTopRight{left: 55%; top: 22.5%;}
#windowsTenLogoBottomLeft{left: 45.5%; top: 35%;}
#windowsTenLogoBottomRight{left: 53.5%; top: 37.5%;}

#windowsTenBootLoader{position: absolute; left: 50%; top: 60%;}

#logonScreen{position: absolute; left: 0%; top: 0%; width: 100%; height: 100%; display: none;}
#userAvatar{position: absolute; left: 45%; top: 25%; width: 8%; height: 15%; background-image: url("../img/userProfile.jpg"); background-size: 100% 100%; border-radius: 100%;}
#userName{position: absolute; left: 42%; top: 40%; width: auto; height: auto; color: white; font-size: 24pt; cursor: default;}
#email{position: absolute; left: 45%; top: 45%; width: auto; height: auto; color: white; cursor: default;}

#loginButton{position: absolute; left: 45%; top: 50%; width: auto; height: auto; padding: 2%; background-color: rgb(0, 0, 200); color: white; text-align: center;}
#loginButton:hover{cursor: default; border: 1px solid white;}

#desktop{position: absolute; left: 0%; top: 0%; width: 100%; height: 100%; display: none;}
#taskbar{position: absolute; bottom: 0%; left: 0%; width: 100%; height: 7%; background-color: rgba(0, 0, 0, 0.5);}

#fileExplorerAppRunning{position: absolute; left: 2%; top: 0%; width: 5%; height: 100%; background-image: url("../img/fileExplorerAppRunning.png"); background-size: 100% 100%; display: none;}
#fileExplorerAppRunning:hover{background-color: grey;}

#settingsAppRunning{position: absolute; left: 8%; top: 0%; width: 5%; height: 100%; background-image: url("../img/settingsAppRunning.png"); background-size: 100% 100%; display: none;}
settingsAppRunning:hover{background-color: grey;}

#systemTray{position: absolute; right: 0%; top: 0%; width: 30%; height: 100%;}
#clock{position: absolute; right: 5%; top: 10%; color: white; cursor: default;}
#date{position: absolute; right: 5%; bottom: 10%; color: white; cursor: default;}

#watermark{position: absolute; right: 0%; bottom: 7%; width: 15%; height: auto; color: white; cursor: default;}

#userProfile{position: absolute; left: 45%; top: 10%; width: 5%; height: 8%; background-image: url("../img/userProfile.jpg"); background-size: 100% 100%; border-radius: 100%;}

#power{position: absolute; right: 5%; top: 10%; width: auto; height: auto; padding: 1.3%; color: white; text-align: center; font-size: 24pt; cursor: default;}
#power:hover{background-color: grey;}

#powerMenu{position: absolute; right: 2%; top: 20%; width: 10%; height: 15%; background-color: black; color: white; cursor: default; display: none;}

#shutDown{position: absolute; left: 0%; top: 15%; width: 100%; height: 20%; text-align: center;}
#shutDown:hover{background-color: grey;}

#restart{position: absolute; left: 0%; top: 40%; width: 100%; height: 20%; text-align: center;}
#restart:hover{background-color: grey;}

#lock{position: absolute; left: 0%; top: 65%; width: 100%; height: 20%; text-align: center;}
#lock:hover{background-color: grey;}

#edgeTile{left: 25%; top: 25%;}
#fileExplorerTile{left: 40%; top: 25%;}
#settingsTile{left: 55%; top: 25%;}
#feedbackTile{left: 70%; top: 25%;}

.app{position: absolute; left: 15%; top: 25%; width: 75%; height: 50%; box-shadow: 0px 0px 5px grey; display: none;}

.titleBar{position: absolute; top: 0%; left: 0%; width: 100%; height: 7%; background-color: rgba(0, 0, 127, 0.5); cursor: default;}
.appName{position: absolute; top: 0%; left: 1%; width: auto; height: auto; color: white;}

.windowControls{position: absolute; top: 0%; right: 0%; width: 15%; height: 100%; color: white; cursor: default;}

.closeWindow{position: absolute; right: 0%; top: 0%; width: 30%; height: 100%; text-align: center;}
.closeWindow:hover{background-color: red;}

.maximizeWindow{position: absolute; right: 30%; top: 0%; width: 30%; height: 100%; text-align: center;}
.maximizeWindow:hover{background-color: rgb(0, 0, 200);}

.minimizeWindow{position: absolute; right: 60%; top: 0%; width: 30%; height: 100%; text-align: center;}
.minimizeWindow:hover{background-color: rgb(0, 0, 200);}

.window{position: absolute; top: 7%; left: 0%; width: 100%; height: 93%; background-color: white;}

#threeDimension{position: absolute; right: 50%; top: 0%; width: auto; height: 100%; color: white; cursor: default; font-size: 24pt;}
#threeDimension:hover{background-color: grey;}

#desktopContextMenu{position: absolute; left: 45%; top: 45%; width: 10%; height: 25%; background-color: black; color: white; border: 1px solid white; cursor: default; z-index: 1; display: none;}

#menuItemOne{position: absolute; top: 0%; left: 0%; width: 100%; height: 10%; text-align: center;}
#menuItemOne:hover{background-color: grey;}

#menuItemTwo{position: absolute; top: 10%; left: 0%; width: 100%; height: 10%; text-align: center;}
#menuItemTwo:hover{background-color: grey;}

#tileContextMenu{position: absolute; left: 45%; top: 45%; width: 10%; height: 25%; background-color: black; color: white; border: 1px solid white; z-index: 1; cursor: default; display: none;}

#resizeMenu{position: absolute; top: 10%; left: 0%; width: 100%; height: 10%; text-align: center;}
#resizeMenu:hover{background-color: grey;}

#resizeSubMenu{position: absolute; left: 55%; top: 45%; width: 10%; height: 25%; background-color: black; color: white; border: 1px solid white; z-index: 1; cursor: default; display: none;}

#smallTile{position: absolute; top: 10%; left: 0%; width: 100%; height: 10%; text-align: center;}
#smallTile:hover{background-color: grey;}

#mediumTile{position: absolute; top: 25%; left: 0%; width: 100%; height: 10%; text-align: center;}
#mediumTile:hover{background-color: grey;}

#wideTile{position: absolute; top: 40%; left: 0%; width: 100%; height: 10%; text-align: center;}
#wideTile:hover{background-color: grey;}

#largeTile{position: absolute; top: 55%; left: 0%; width: 100%; height: 10%; text-align: center;}
#largeTile:hover{background-color: grey;}