.splitView{position: absolute; top: 10%; left: 5%; width: 3%; height: 5%; color: white; font-size: 24pt; text-align: center;}
.splitView:hover{cursor: default; background-color: grey;}

.splitViewExpanded{position: absolute; top: 10%; left: 5%; width: 20%; height: 75%; background-color: blue; color: white; font-size: 24pt; display: none;}
.hamburgerButtonExpanded:hover{cursor: default;}

.tile{position: absolute; width: 8%; height: 3%; padding: 3%; background-color: blue; color: white; text-align: center; cursor: default;}
.tile:hover{border: 1px solid white;}